<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TCD</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>    	
    	classpath:applicationContext.xml
    </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionInvalidate</filter-name>
    <filter-class>com.sulliar.ypq.filter.SessionCheckFilter</filter-class>
    <init-param>
      <param-name>checkSessionKey</param-name>
      <param-value>current_user</param-value>
    </init-param>
    <init-param>
      <param-name>redirectURL</param-name>
      <param-value>/OtherPage/GotoIndex.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>notCheckURLList</param-name>
      <param-value>/index.jsp,/OtherPage/GotoIndex.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>adminURLList</param-name>
      <param-value>/ACLPage/AcessRule.jsp,/ACLPage/AcessRuleTree.jsp,/ACLPage/DatasetRealType.jsp,/ACLPage/DatasetType.jsp,/FunctionPage/ACL.jsp,/FunctionPage/UserManagement.jsp,/MainPage/main_admin.jsp,/FunctionPage/LogManagement.jsp,/FunctionPage/CacheManagement.jsp,/FunctionPage/ACLQuery.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/ACLPage/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/FileResultPage/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/FunctionPage/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/MainPage/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/FlexPaperSWF/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionInvalidate</filter-name>
    <url-pattern>/OtherPage/*</url-pattern>
  </filter-mapping>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/OtherPage/GotoIndex.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/OtherPage/GotoIndex.jsp</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/OtherPage/GotoIndex.jsp</location>
  </error-page>
</web-app>